Initially, I wrote the pipeline for GMB dataset which is in shape of csv file. Later, I decided to use the model on ConLL2003 dataset. Therefore, here I reshape the ConLL2003 data from text to CSV, in the way that fits my model.
Data processing here took about 1 hour. You can download the data from my repository for your ease.

In [1]:
import pandas as pd
import numpy as np

In [2]:
def split_text_label(filename):
  f = open(filename)
  split_labeled_text = []
  sentence = []
  for line in f:
    if len(line)==0 or line.startswith('-DOCSTART') or line[0]=="\n":
       if len(sentence) > 0:
         split_labeled_text.append(sentence)
         sentence = []
       continue
    splits = line.split(' ')
    sentence.append([splits[0], splits[1], splits[-1].rstrip("\n")])
  if len(sentence) > 0:
    split_labeled_text.append(sentence)
    sentence = []
  return split_labeled_text

In [3]:
split_train = split_text_label('/content/drive/MyDrive/NLP/final/archive/train.txt')
split_test = split_text_label("/content/drive/MyDrive/NLP/final/archive/test.txt")
split_valid = split_text_label("/content/drive/MyDrive/NLP/final/archive/valid.txt")

In [18]:
def csv(file):
  import numpy as np
  import pandas as pd
  df = pd.DataFrame(columns={'Sentence #', 'Word','POS', 'Tag'})
  df = df.iloc[:,[0,3,1,2]]
  for i in range(len(file)):
    for j in range(len(file[i])):
        if j == 0:
            df.loc[len(df.index)] = {'Sentence #': 'Sentence: {}'.format(i+1), 'Word':file[i][j][0], 'POS':file[i][j][1] ,'Tag':file[i][j][-1]}
        else:
            df.loc[len(df.index)] = {'Word':file[i][j][0], 'POS':file[i][j][1] ,'Tag':file[i][j][-1]}
  return df

In [19]:
test_data = csv(split_test)
test_data

        Sentence #     Word  POS    Tag
0      Sentence: 1   SOCCER   NN      O
1              NaN        -    :      O
2              NaN    JAPAN  NNP  B-LOC
3              NaN      GET   VB      O
4              NaN    LUCKY  NNP      O
...            ...      ...  ...    ...
46430          NaN  younger  JJR      O
46431          NaN  brother   NN      O
46432          NaN        ,    ,      O
46433          NaN    Bobby  NNP  B-PER
46434          NaN        .    .      O

[46435 rows x 4 columns]

In [20]:
valid_data = csv(split_valid)
valid_data

           Sentence #            Word  POS    Tag
0         Sentence: 1         CRICKET  NNP      O
1                 NaN               -    :      O
2                 NaN  LEICESTERSHIRE  NNP  B-ORG
3                 NaN            TAKE  NNP      O
4                 NaN            OVER   IN      O
...               ...             ...  ...    ...
51357             NaN               .    .      O
51358  Sentence: 3250              --    :      O
51359             NaN           Dhaka  NNP  B-ORG
51360             NaN        Newsroom  NNP  I-ORG
51361             NaN    880-2-506363   CD      O

[51362 rows x 4 columns]

In [21]:
train_data = csv(split_train)
train_data

             Sentence #     Word  POS     Tag
0           Sentence: 1       EU  NNP   B-ORG
1                   NaN  rejects  VBZ       O
2                   NaN   German   JJ  B-MISC
3                   NaN     call   NN       O
4                   NaN       to   TO       O
...                 ...      ...  ...     ...
203616              NaN    three   CD       O
203617  Sentence: 14041  Swansea   NN   B-ORG
203618              NaN        1   CD       O
203619              NaN  Lincoln  NNP   B-ORG
203620              NaN        2   CD       O

[203621 rows x 4 columns]

In [22]:
data = pd.concat([train_data, valid_data, test_data], axis=0)
data

        Sentence #     Word  POS     Tag
0      Sentence: 1       EU  NNP   B-ORG
1              NaN  rejects  VBZ       O
2              NaN   German   JJ  B-MISC
3              NaN     call   NN       O
4              NaN       to   TO       O
...            ...      ...  ...     ...
46430          NaN  younger  JJR       O
46431          NaN  brother   NN       O
46432          NaN        ,    ,       O
46433          NaN    Bobby  NNP   B-PER
46434          NaN        .    .       O

[301418 rows x 4 columns]

In [24]:
data.to_csv('/content/drive/MyDrive/NLP/final/archive/ConLL2003_data.csv', index=False)